
  
  .Footer {
<<<<<<< HEAD
    
=======

>>>>>>> fb8a071a2ef6e1eecfd8d80dd6536b31a8c516e5
    left:0px;
    bottom:0px;
    width:100%;
    border-top: grey solid 1px;
    text-align: center;
    
  }