
/* The hero image */

.hero-image {
background-image:url("https://i.ibb.co/2jYZkqN/Background-Rio.png");
height: 600px;
background-size: cover;
border-bottom: black solid 1px;
border-top: black solid 1px;

}

.hero-text{
  padding-top: 40px;
  
}

h1{
  color: aliceblue;
  text-align: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 120px;
}

